@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  body {
    background-color: #000;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  color: white ;
  letter-spacing: 0.3px;
  margin: 0;
  }
  #app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
 
 