p {
    margin: 0;
  }
  ul, li {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  h1, h2, h3, h4 {
    margin: 0;
  }
  button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 1em;
    color: inherit;
    cursor: pointer;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}